* {
    box-sizing: border-box;
}

body {
    background-color: rgba(172, 171, 171, 0.671);
}

.about_cont {
    background-color: white;
    width: 70%;
    border: 1px solid rgba(169, 165, 165, 0.827);
    margin: 14px;
    padding: 22px;
}

.about_cont h2 {
    color: rgba(18, 191, 200, 0.466);
    border-bottom: 4px solid rgba(169, 165, 165, 0.827);
    padding-bottom: 14px;
    font-size: 32px;
}

.about_cont p {
    color: rgba(169, 165, 165, 0.827);
}

.about_cont button {
    font-size: 20px;
    width: 20%;
    padding: 10px;
    margin-top: 14px;
    background-color: rgba(18, 191, 200, 0.466);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
}

.about_cont button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}